<div class="flex-column my-5 ">
    <h2 class="text-center mb-2 fs-2">Search For Cards To Start Collecting!</h2>

    <div class="col-8 container-fluid mb-5">


        <!-- Basic Search Form -->
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="input-group mb-3 mt-5 pt-2">
                <input type="text" class="form-control" placeholder="Search card by name..." formControlName="name">
                <button class="btn btn-success" type="submit">Search</button>
            </div>

            <!-- Sorting Options -->
            <div class="sort-container mb-3">
                <!-- Advanced Search Drawer Toggle Dropdown -->
                <div class="dropdown m-1 flex-grow-1 text-end">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="advancedSearchToggle" (click)="toggleDrawer()">
                        Advanced Search
                    </button>
                </div>

                <label for="sortOrder">Sort By:</label>
                <select id="sortOrder" class="form-select" formControlName="sortOrder">
                    <option value="name">Name</option>
                    <option value="cmc">CMC</option>
                    <option value="price">Price</option>
                    <option value="toughness">Toughness</option>
                    <option value="power">Power</option>
                </select>

                <label for="sortDirection">Direction:</label>
                <select id="sortDirection" class="form-select" formControlName="sortDirection">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </form>




        <!-- Advanced Search Drawer (Initially Hidden) -->
        <div class="drawer" [ngClass]="{'drawer-open': isDrawerOpen}">
            <div class="drawer-content border-0 bg-dark">
                <h5 class="fs-4 text-decoration-underline my-2">Advanced Search</h5>
                <button class="btn btn-primary mb-3" (click)="resetForm()">Reset</button>
                <form [formGroup]="searchForm" class="row g-3">

                    <!-- Set Name -->
                    <div class="col-md-4 form-group position-relative">
                        <label for="set">Set Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Set Name..."
                               formControlName="set"
                               (input)="filterSetNames($event)"
                               (focus)="showDropdown = true"
                               (blur)="hideDropdown()"
                               data-bs-toggle="tooltip"
                               title="Enter the Set you're looking for (e.g., Innistrad, Double Masters, Ravnica)">
                        <ul *ngIf="showDropdown && filteredSetNames.length > 0" class="list-group position-absolute w-100 dropdown-overlay">
                            <li *ngFor="let setName of filteredSetNames"
                                (mousedown)="selectSetName(setName)"
                                class="list-group-item list-group-item-action">
                                {{ setName }}
                            </li>
                        </ul>
                    </div>

                    <!-- Card Type Single-select Dropdown -->
                    <div class="col-md-4 form-group">
                        <label for="type">Card Type</label>
                        <div class="dropdown text-start">
                            <button #cardTypeDropdown
                                    class="btn btn-light dropdown-toggle w-100 text-start"
                                    type="button"
                                    id="cardTypeDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    data-bs-toggle="tooltip"
                                    title="Select the type of card (e.g., Creature, Artifact, Sorcery).">
                                {{ selectedType ? selectedType : 'Select Card Type' }}
                            </button>
                            <ul class="dropdown-menu w-100 text-e">
                                <li *ngFor="let type of cardTypes">
                                    <a class="dropdown-item"
                                       (click)="onTypeSelectionChange(type)"
                                       [class.active]="selectedType === type">
                                        {{ type }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Oracle Text -->
                    <div class="col-md-4 form-group">
                        <label for="oracleText">Oracle Text</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Oracle Text..."
                               formControlName="oracleText"
                               data-bs-toggle="tooltip"
                               title="Search for cards with specific rules or abilities in their text.">
                    </div>

                    <!-- Mana Value -->
                    <div class="col-md-4 form-group">
                        <label for="manaValue">Mana Value</label>
                        <div class="input-group">
                            <input type="number"
                                   class="form-control"
                                   placeholder="Mana Value..."
                                   formControlName="manaValue"
                                   data-bs-toggle="tooltip"
                                   title="Filter cards by their mana cost value.">
                        </div>
                    </div>

                    <!-- Power -->
                    <div class="col-md-4 form-group">
                        <label for="power">Power</label>
                        <div class="input-group">
                            <input type="number"
                                   class="form-control"
                                   placeholder="Power..."
                                   formControlName="power"
                                   data-bs-toggle="tooltip"
                                   title="Filter cards by their power value.">
                        </div>
                    </div>

                    <!-- Toughness -->
                    <div class="col-md-4 form-group">
                        <label for="toughness">Toughness</label>
                        <div class="input-group">
                            <input type="number"
                                   class="form-control"
                                   placeholder="Toughness..."
                                   formControlName="toughness"
                                   data-bs-toggle="tooltip"
                                   title="Filter cards by their toughness value.">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

        <!-- Loading Indicator -->
        <div *ngIf="loading" class="loading-indicator">
            <p class="text-center fs-2 m-5">Loading results, please wait...</p>
        </div>

        <!-- No Results Message -->
        <div *ngIf="noResultsReturned && !loading" class="no-results">
            <p class="text-center fs-2 m-5">No results found.</p>
        </div>

        <div *ngIf="showWarning" class="alert alert-warning">
            Search fields must contain more than 3 characters.
        </div>

        <!-- Results Section -->

    </div>

    <div *ngIf="!loading && !noResultsReturned">
        <app-card-list [cards]="cards"></app-card-list>
    </div>
