

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensure images cover the card area */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
  padding: 0 5px 0 5px;
}

.form-group label {
  border-radius: 8px;
  font-weight: 500;
  text-decoration:underline;
  margin-bottom: 4px
}

.form-group input {
    box-shadow:#ddd 0px 0px 3px;


}
.form-control {
  border-radius: 8px;

  
}

.btn-primary {
  border-radius: 8px;
}

/* Style for the container holding the dropdowns */
.sort-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the elements */
  margin-bottom: 20px; /* Margin below the container */
}


/* Style for the dropdown labels */
//.sort-container label {
//  font-weight: bold; /* Make the label text bold */
//  margin-right: 5px; /* Space between the label and the dropdown */
//  color: #ffffff; /* Set label text color */
//}

///* Style for the dropdown select boxes */
//.sort-container select {
//  padding: 8px 12px; /* Padding inside the dropdown */
//  border: 1px solid #444; /* Border color and thickness */
//  border-radius: 4px; /* Rounded corners */
//  background-color: #b2b2b633; /* Background color of the dropdown */
//  color: #ffffff; /* Text color inside the dropdown */
//  font-size: 14px; /* Font size for the dropdown text */
//  outline: none; /* Remove outline when focused */
//  transition: background-color 0.3s ease; /* Smooth transition effect for background color */
//}

///* Change background color on hover */
//.sort-container select:hover {
//  background-color: #555; /* Darker background on hover */
//}

///* Change border color when the dropdown is focused */
//.sort-container select:focus {
//  border-color: #00aaff; /* Highlight border color on focus */
//  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5); /* Add a subtle shadow effect */
//}

.drawer {
  display: none; // Initially hidden
  position: relative;
  width: 100%;
  padding: 20px;
  //background-color: #f8f9fa; // Background color for the drawer
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &.drawer-open {
    display: block;
  }

  .drawer-content {
    padding: 10px;
    border-top: 1px solid #ddd; // Divider between main form and drawer
  }
  /* card-search.component.css */
  /* Increase size of dropdown button text */
  .btn-secondary.dropdown-toggle {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* Limit dropdown menu size */
  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }
}
