<div class="container py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- Loop through collections and display each one as a card -->
        <div class="col" *ngFor="let collection of collections">
            <div class="card h-100 shadow-sm" (click)="goToCollectionDetails(collection.id)">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ collection.collectionName }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
