<div class="d-flex align-items-center">
  
  <span *ngIf="isLoggedIn()" class="me-3">Hello, {{ getUserName() }}!</span>


  <button *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-outline-danger btn-sm">Log out</button>

  <!-- Register and Login buttons when user is not signed in -->
  <button *ngIf="!isLoggedIn()" routerLink="/register" class="btn btn-primary btn-sm me-2">Register</button>
  <button *ngIf="!isLoggedIn()" routerLink="/login" class="btn btn-success btn-sm">Log in</button>
</div>
