.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.8), transparent);
  padding: 1rem 0;
}

.navbar {
  padding: 0;
}

.main {
  padding-top: 3rem;
 
}

//body {
//     background: linear-gradient(180deg, rgba(20, 20, 20, 0.8), transparent);
//}

.welcome-section {
  background: linear-gradient(135deg, #3c2a63, #1b2c52);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15), 0 0 10px rgba(27, 44, 82, 0.2);
  padding: 30px;
  max-width: 800px;
  color: #e0e0e0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 1;
  max-height: 400px; 
  overflow: hidden; /* Ensures content does not overflow */
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out;
}

.welcome-section h1 {
    
    font-size: 2.6rem;
    color: #dcdcdc;
    margin-bottom: 10px;
}

.welcome-section p {
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
    color: #b0b0b0;
}

.welcome-section.hidden {
  opacity: 0;
  max-height: 0; /* Collapse to 0 height */
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out; /* Smooth transition */
}

/* Transition effect for sliding up */
.slide-up {
  transition: margin-top 0.5s ease-out;
}

