<body class="d-flex flex-column min-vh-100 bg-dark text-light">
    <header class="header-transparent position-relative">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" routerLink="/">Card Collection Tool</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/'">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/collections'">Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/privacy'">Privacy</a>
                        </li>
                    </ul>
                    <app-login-partial></app-login-partial>
                </div>
            </div>
        </nav>
    </header>

    <main class="container flex-grow-1 pb-3 pt-5 mt-5 text-light">
        <router-outlet></router-outlet>
    </main>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container p-5">
            &copy; 2024 - Card Collection Tool - <a routerLink="/privacy" class="text-secondary">Privacy</a>
        </div>
    </footer>
</body>
