<body class="d-flex flex-column min-vh-100 bg-dark text-light">
    <header class="header-transparent position-relative">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand text-capitalize fw-bolder text-info" routerLink="/">Mana Codex</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-end">
                    <ul class="navbar-nav me-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/'">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/collections'">Collections</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="'/privacy'">Privacy</a>
                        </li>
                        -->
                    </ul>

                    <div class="vr mx-2 text-light"></div>

                    <app-login-partial></app-login-partial>
                </div>
            </div>
        </nav>
    </header>

    <!-- Welcome Section (only shown on home page) -->
    <section *ngIf="showWelcomeSection"
             [ngClass]="{'hidden': searchActive}"
             (transitionend)="handleTransitionEnd()"
             class="welcome-section text-center p-5 mx-auto my-4">
        <div class="container">
            <h1>Welcome to Mana Codex</h1>
            <p>Discover, collect, and manage your card collection with ease.</p>
            <p>To get started, simply search for a card below. To start managing your collections, please login.</p>
        </div>
    </section>

    <main class="container flex-grow-1 pb-3 pt-5 text-light">
        <router-outlet></router-outlet>
    </main>

    <footer class="border-top footer text-light bg-dark">
        <div class="container p-5">
            &copy; 2024 - Card Collection Tool - <a routerLink="/privacy" class="text-secondary">Privacy</a>
        </div>
    </footer>
</body>
