.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.8), transparent);
  padding: 1rem 0;
}

.navbar {
  padding: 0;
}

.main {
  padding-top: 3rem;
}
