<div class="container-fluid p-0 d-flex">
  <!-- Collections Sidebar -->
  <div 
    class="collections-sidebar bg-dark text-light p-3 position-relative"
    [ngClass]="{'collapsed': isSidebarCollapsed, 'expanded': !isSidebarCollapsed}">
    <!-- Retract/Expand Button -->
    <button 
      class="toggle-btn btn bg-black"
      (click)="toggleSidebar()"
    >
      <i [ngClass]="{'fas fa-chevron-left': !isSidebarCollapsed, 'fas fa-chevron-right': isSidebarCollapsed}"></i> <!-- Dynamic Arrow Icon -->
    </button>

    <!-- Sidebar Content -->
    <div *ngIf="!isSidebarCollapsed">
      <h5>My Collections</h5>
      <app-collections></app-collections>
    </div>
  </div>

  <!-- Search Column -->
  <div 
    class="search-view text-dark p-3 flex-grow-1"
    [ngClass]="{'col-12': isSidebarCollapsed, 'col-md-8': !isSidebarCollapsed}">
    <app-card-search (searchEvent)="handleSearch()"></app-card-search>
  </div>
</div>
