<div class="d-flex align-items-center justify-content-end">
    <ng-container *ngIf="isAuthenticated; else guestLinks">
        <span class="me-3">Hello, {{ userName }}!</span>
        <button (click)="logout()" class="btn btn-outline-danger btn-sm">Log out</button>
    </ng-container>

    <ng-template #guestLinks>
        <button class="btn btn-primary btn-sm me-2" (click)="goToRegister()">Register</button>
        <button class="btn btn-success btn-sm" (click)="goToLogin()">Log in</button>
    </ng-template>
</div>
