html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

/*.card-img-top {
    max-height: 150px;*/ /* Limit the max height to keep images uniform */
/*object-fit: cover;*/ /* Ensure images cover the area without stretching */
/*}*/

/*.card {
    height: 100%;*/ /* Make cards stretch to fill the available height */
/*display: flex;
    flex-direction: column;*/ /* Arrange content in a column layout */
/*justify-content: space-between;*/ /* Distribute space evenly */
/*background-color: #f8f9fa;*/ /* Light background color for cards */
/*border: none;*/ /* Remove border */
/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/ /* Subtle shadow for depth */
/*border-radius: 8px;*/ /* Rounded corners */
/*}*/

/* Container for card search bar */
.autocomplete-container {
}



/* Container for card search results */
.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}


.card-item {
  flex: 0 1 450px;
  max-width: 250px;
  position: relative;
}


.card-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}


.card-image:hover {
  transform: scale(1.05);
}
