<div *ngIf="cards && cards.length > 0; else noResults" class="d-flex p-4 search-results" >
    <div *ngFor="let card of cards">
        <!-- Display each card -->
        <div class="card-item">
            <img class="card-image" src="{{ card.imageUri }}" alt="{{card.name}}" data-id="{{card.id}}" />
        </div>
        <button *ngIf="isLoggedIn" class="btn btn-primary btn-sm position-absolute bottom-0 end-0" (click)="openAddToCollectionModal(card.id)">+</button>
    </div>
</div>

<app-addcard-modal></app-addcard-modal>

<ng-template #noResults>
    <p *ngIf="noResultsReturned === true">No cards found. Try a different search.</p>
</ng-template>
